<h1><%= @user.email %>'s Profile</h1>

<h2>Created Events</h2>
<% if @created_events.any? %>
  <ul>
    <% @created_events.each do |event| %>
      <li>
        <strong><%= link_to event.title, event_path(event) %></strong><br>
        <em><%= event.date.strftime("%B %d, %Y at %I:%M %p") %></em><br>
        Location: <%= event.location %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>This user hasn't created any events yet.</p>
<% end %>
